.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  margin: 0 auto;
}

.single {
  animation: button-flash 1 0.5s linear;
}

.double {
  animation: button-flash 2 0.5s linear;
}

.long {
  animation: button-flash 1 3s ease-out;
}

@keyframes button-flash {
  from {
    background-color: white;
  }
  to {
    background-color: yellow;
  }
}
